.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/
**/bin/
**/obj/
**/bin_tmp/
**/obj_tmp/
Debug/
Release/
x64/
x86/

*.obj
*.ilk
*.pdb
*.idb
*.ipch
*.iobj
*.ipdb
*.pch
*.tlog
*.lastbuildstate
*.dll
*.lib
*.exp

*.log
*.tmp
*.bak
*.dmp

README原版参考.md
*.bat
RainGuiDx11HookTest/
RainGuiDx12HookTest/
