.vs/
*.suo
*.user
*.VC.db
*.VC.opendb

*.obj
*.ilk
*.pdb
*.idb
*.ipch
*.tlog
*.lastbuildstate

*.dll
*.lib
*.exp

RainGui/bin/
RainGui/obj/
RainGui/bin_tmp/
RainGui/obj_tmp/
RainGuiDx11HookTest/bin/
RainGuiDx11HookTest/obj/
RainGuiDx12HookTest/bin/
RainGuiDx12HookTest/obj/
RainGuiDx11HookTest/bin/
RainGuiDx11HookTest/obj/
README原版参考.md
