# 只推 RainGui/，其他全部排除
*
!.gitignore
!README.md
!LICENSE
!RainGui/
!RainGui/**

# RainGui 内部排除
RainGui/bin/
RainGui/obj/
RainGui/test/
RainGui/.vs/
RainGui/*.sln
RainGui/*.vcxproj.user
RainGui/*.VC.db
RainGui/*.VC.opendb
RainGui/*.dll
RainGui/*.exe
RainGui/*.lib
RainGui/*.exp
RainGui/*.pdb
RainGui/*.idb
RainGui/*.ilk
RainGui/*.obj
RainGui/*.iobj
RainGui/*.ipdb
*.pch
*.vmp
*.vmp.dll
